.cabecalho__menu {
    height: 20vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: #fdfdfd;
    
}