.formulario__botao {
    background-color: #f2f2f2;
    padding: 15px;
    border-style: none;
    border-radius: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #111164;
    transition: .2s;
}

.formulario__botao:hover {
    color: #0b0b5a;
    background-color: #d8d8d8;
    font-size: 1.2rem;
}